@using PagedList
@using PagedList.Mvc
@model IPagedList<EntityLayer.Entites.Comment>
@{
    ViewBag.Title = "Comment";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<table class="table table-bordered">

    <tr>
        <th>İçerik</th>
        <th>Ürün bilgisi</th>
        <th>Kullanıcı</th>
        <th>Tatih</th>
        <th>SİL</th>
       

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Contents</td>
            <td>@item.Product.Name</td>
            <td>@item.User.Name @item.User.SurName</td>
            <td>@item.Data</td>
            <td>@Html.ActionLink("Sil", "Delete", new { item.Id }, new { @class = "btn btn-danger", onclick = "return confirm ('Silmek istediginizden eminmisiniz')" })</td>
        </tr>

    }

</table>

